@model IEnumerable<WebSchool.Website.Models.ClassViewModel.ClassRegisterModel>
@{
    ViewBag.Title = "Class Page";
}

<div class="jumbotron">
    <h1>Classes</h1>
    <p class="lead">Sign up for classes.</p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassPrice)
            </td>
            <td>
                @Html.ActionLink("Sign Up", "Registration")
        </tr>
    }

</table>